@*This view will be rendered when the Invoke method inside NavigationMenuViewComponent is called*@
@model IEnumerable<string> 

<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
{
    // when the user click on the link, 
    // inside the category, this value will pass to the List action as the argument
    <a class="btn btn-block 
       @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-productPage="1">
       @category
    </a>
}

